html {
    background-color: #EEEEEE;
}

#header {
    position: fixed;
    top: 0px;
}

.flexbox {
    display: flex; 
}

.col {
    margin: 20px;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 1%;
    text-align: center;
}

.col h1 {
    background-color: #DDDDDD;
    top: 0%;
    padding: 10% 25%;
}
